<div class="container">
  <div class="jumbotron"> <h3>Welcome to {{ title }}!</h3>
  </div>
  <hr>
  <div class="row">
     <div class="col-md-6">
          <h5>Famous Quotes</h5>
          <br>
          <div *ngFor='let quote of quotes; let i = index' class="card">
            <div>
                <p>{{quote.description}}</p>
            </div>
            <div *ngIf="quote.showDescription">
              <div style="color: darkgray;">
                 <h6>{{quote.name}}</h6>
              </div>
                <app-quote-details [quote]='quote' (isComplete)='quoteDelete($event,i)'></app-quote-details>
            </div>
            <button id="toggleButton" type="button" (click) = 'toggleQuotes(i)' class="btn btn-sm btn-primary">Quote Details</button>
            <br><br>
          </div>
    </div>
    <div class="col-md-6">
      <h5>Add Your Favourite Quote(s)</h5>
    </div>
  </div>
</div>

